@charset "UTF-8";

/* ESTILOS DA JANELA MODAL */


.btn-fechar {
    background-color: #0b9566;
    color: rgb(255, 0, 0);
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.btn-fechar:hover {
    background-color: #13a14c;
    color: white;
    cursor: pointer;
    border: 1px solid black;
}

/* Estilo geral do modal (overlay) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Estilo do conteúdo do modal */
.modal-conteudo {
    background-color: #fff;
    margin: 8% auto 0% auto;
    border: 1px solid #888;
    width: 300px;
    height: 35%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1px;
    text-align: center;
}

/* Estilo do botão de fechar */
.fecharModal {
    color: #ffffff;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top:12px;
    right: 10px;
    background-color: red;
    border-radius: 50%;
    width: 23px;
    height: 22px;
}
.fecharModal2 {
    color: #ffffff;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top:12px;
    right: 10px;
    background-color: red;
    border-radius: 50%;
    width: 23px;
    height: 22px;
}

.cadastroProduto {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    height: 100%;
    width: 100%;
}

.titulo {
    background-color: #0f7b3a;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px 0 5px 0;
    font-size: 20px;
    height: 11%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastroProduto>form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 66%;
    width: 100%;
}


.infoProduto1 {
    background-color: #ffffff;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.categoria {
    background-color: #000000;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid black;
    height: 10%;
    width: 91%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}
.label-categoria {
    background-color: rgba(0, 0, 0, 0);
    color: white;

    font-size: 12px;
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;   
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.placeholder-categoria {
    font-size: 12px;
    height: 100%;
    width: 60%;   
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.infoProduto2 {
    background-color: #000000;

    width: 94%;
    height: 10%;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    
    gap: 5px;
}

.infoProduto2>label {
    background-color: #000000;
    color: white;
    font-size: 12px;

    height: 100%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.infoProduto2>input {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    padding-left: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 60%;
    height: 100%;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.botoes1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    border-top: 2px solid black;
    position: absolute;
    bottom: 0;
    width: 90%;
    background-color: #dee9e1;
    height: 10%;
}

.btn {
    background-color: #117b58;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}

.btn1 {
    width: 70px;
    height: 25px;
}

.btn2 {
    width: 105px;
    height: 25px;
}

.btn3 {
    background-color: #7b1e1e;
    width: 105px;
    height: 25px;
}